/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 3.0 License

Name       : Resolved
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20120125
*/

* {
	margin: 0;
/*
	padding: 0;
*/
}

a {
	text-decoration: none; /*underline*/
	color: #6B2E42;
}

#content a:hover {
	text-decoration: none;
	background-color: #A9F5F2;
}

#content a:active {
	color: #FF0000; /* selected link */
}

body {
	background: #C9CFCD url(images/img01.gif);
	font-size: 11pt;
	color: #323232;
	line-height: 1.75em;
}

body,input {
	font-family: Arial, sans-serif;
}

strong {
	color: #222222;
}

br.clearfix {
	clear: both;
}

h1,h2,h3,h4 {
	letter-spacing: -1px;
/*
	text-transform: lowercase;
*/
	font-weight: normal;
}

h2 {
	font-size: 2.25em;
}

h2,h3,h4 {
	color: #000405;
	font-family: Arvo, serif;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}

img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

img.aligntop {
	margin: 5px 0 20px 0;
}

p {
	margin-bottom: 1.5em;
}

ul, ol {
/*
	margin-bottom: 1.5em;
*/
	padding-left: 1em;
}

ul h4 {
	margin-bottom: 0.35em;
}

#content {
	background: #FFFFFF;
	width: 595px;
	color: #6E6E6E;
	padding: 25px 35px 0 35px;
	float: right;
	border-bottom: solid 2px #BBC1BF;
}

#content h2, #content h3, #content h4 {
	color: #171717;
}

#footer {
/*
	padding: 30px 0 50px 0;
*/
	text-align: center;
	margin: 0 0 5px 0;
	color: #808384;
/*
	text-transform: lowercase;
*/
}

#footer a {
	color: #808384;
}

#header {
	height: 55px;
	position: relative;
	padding: 35px;
}

#logo {
/*
	position: absolute;
*/
	left: 190px; /*35px*/

/*
	line-height: 70px;
	height: 110px;
	top: 35px;
*/
}

#logo a {
	text-decoration: none;
	color: #AA0000;
}

#logo h1 {
	font-family: Arvo, serif;
	font-size: 3em;
}

#menu {
	line-height: 60px;
	position: absolute;
	font-family: Arvo, serif;
	background: #6B2E42 url(images/img02.gif);
/*
	top: 66px;
*/
	right: 0;
	height: 60px;
	border: solid 1px #CA8B9F;
}

#menu a.link {
	font-size: 1.5em;
	text-transform: lowercase;
	letter-spacing: -1px;
	color: #FFFFFF;
	text-decoration: none;
}

#menu ul.link {
	padding: 0 15px 0 15px;
	list-style: none;
}

#menu ul.link li.item {
	display: inline;
	padding: 0 10px 0 10px;
}

#page {
	margin: -10px 0 20px 0px;
	position: relative;
	width: 980px;
	padding: 0;
}

#page .section-list {
	padding-left: 0;
	list-style: none;
}

#page .section-list li {
	clear: both;
	padding: 20px 0 20px 0;
}

/*
#page ul {
	list-style: none;
}
*/

/*
#page ul li {
	padding: 10px 0 10px 0;
	border-top: solid 1px #D9D9D9;
}
*/

#page ul li.first {
	padding-top: 0;
	border-top: 0;
}

#post1 {
	width: 595px;
	overflow: hidden;
	margin: 0 0 35px 0;
}

#post2 {
	width: 280px;
	float: left;
	overflow: hidden;
}

#post3 {
	overflow: hidden;
	margin: 0 0 0 315px;
	width: 280px;
}

#search input.form-submit {
	border: 0;
	background: #6B2E42;
	margin-left: 1em;
	color: #FFFFFF;
	padding: 5px;
	font-family: Arvo, serif;
}

#search input.form-text {
	border: solid 1px #84908D;
	padding: 5px;
}

#sidebar {
	background: #FFFFFF;
	margin: 0 0 0 0px;
	color: #6E6E6E;
	padding: 20px 35px 20px 35px;
	width: 225px;
	border-bottom: solid 2px #BBC1BF;
	font: 16px arial,sans-serif;
}

#sidebar h2, #sidebar h3, #sidebar h4 {
	color: #000000;
}

#sidebar ul {
	list-style: none;
}

#sidebar ul li {
	padding: 10px 0 10px 0;
	border-top: solid 1px #D9D9D9;
}

#sidebar ul li.first {
	border-top: 0;
	padding-top: 0;
}

.socialnet {
	display: block;
	text-align: left;
	margin-right: auto;
}

.Menu {
    margin: 22px 10px 40px 5px;
}

.Menu A {
    display: block;
    font-weight: bold;
    height: 20px;
    text-align: left;
}

.Menu A:link {
    background: none repeat scroll 0 0 transparent;
    color: dimgray;
    cursor: pointer;
    text-decoration: none;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
	position: relative;
}

::selection {
	background: none repeat scroll 0 0 #FFAC00;
    color: #FFFFFF;
    text-shadow: none; /* Safari */
}

*::-moz-selection {
    background: none repeat scroll 0 0 #FFAC00;
    color: #FFFFFF;
    text-shadow: none; /* Firefox */
}
