<a title="LinkedIn" target="_blank" href="http://www.linkedin.com/in/emunozj/en"><img border="0" src="../images/linkedin.png"></a>
<a title="Github" target="_blank" href="http://github.com/{{ site.author.github }}/"><img border="0" src="../images/github.png"></a>
<a title="Wordpress" target="_blank" href="http://depinfi.wordpress.com"><img border="0" height="50" src="../images/WP-iOS-Icon.png"></a>
<a title="Slideshare" target="_blank" href="http://www.slideshare.net/emispy"><img border="0" height="50" src="../images/slideshare-logo.png"></a>
<a title="My OpenID" target="_blank" href="http://emunoz.myopenid.com/"><img border="0" src="../images/myopenid-logo.png"></a>
<a title="Flickr" target="_blank" href="http://www.flickr.com/photos/emirmunoz/"><img border="0" height="53" src="../images/social-flickr-box-icon.png"></a>
<a title="Twitter" target="_blank" href="http://twitter.com/{{ site.author.twitter }}"><img border="0" width="45" height="45" src="../images/twitter.jpg"></a>
<!--
	<a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a>
	<a href="{{ BASE_PATH }}{{ site.JB.pages_path }}">Pages</a>
	<a href="{{ BASE_PATH }}{{ site.JB.categories_path }}">Categories</a>
	<a href="{{ BASE_PATH }}{{ site.JB.tags_path }}">Tags</a>
-->
<!--
<div class="contact">
	<p>
		<a href="http://github.com/{{ site.author.github }}/">github.com/{{ site.author.github }}</a><br />
		<a href="http://twitter.com/{{ site.author.twitter }}/">twitter.com/{{ site.author.twitter }}</a><br />
	</p>
</div>
-->
