---
layout: page
title: Blog
header: Blog
group: navigation
---

{% include JB/setup %}

{% comment %}<!--
{% include JB/posts_collate %}
<ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>-->{% endcomment %}

<ul>
    {% for post in site.posts %}
    <li>
        <a href="{{ post.url }}">
            <h3>{{ post.title }}</h3>
        </a>
        <p class="meta">Posted {{ post.date | date_to_long_string }}</p>
        <p>{{ post.content | strip_html | truncatewords: 50 }}</p>
        <a href="{{ post.url }}">Continue reading...</a>
    </li>
    {% endfor %}
</ul>

{% comment %}<!--
{% for post in site.posts offset: 0 limit: 10 %}
    <h2>
        <a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    {{ post.date | date_to_string }}
    {{ post.content }}
    <hr />
{% endfor %}
-->{% endcomment %}
